%ul.nav.navbar-nav
  %li.dropdown
    %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Home
    %ul.dropdown-menu
      - all_categories.each do |category|
        %li
          %a{href: "#"} 
            =category.title
  %li
    = link_to 'Shop', root_path

  - if signed_in?
    %li.dropdown
      %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} My account
      %ul.dropdown-menu
        %li
          %a{href: "#"} Settings
        %li
          %a{href: "#"} Orders
        %li.divider{role: "separator"}
        - if can? :access, :rails_admin
          %li
            = link_to ('Dashboard'), rails_admin.dashboard_path
          %li.divider{role: "separator"}
        %li
          = link_to "Log out", destroy_user_session_path, method: :delete, class: "collapse-link"
  - else
    %li
      = link_to 'Log in', new_user_session_path
    %li
      = link_to 'Sign up', new_user_registration_path
